<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Theme_shop/assets/css/Giohang.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Theme_shop/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme_shop/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Theme_shop/assets/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="~/Theme_shop/assets/css/vendor/plaza-icon.css">
    <link rel="stylesheet" href="~/Theme_shop/assets/css/vendor/bootstrap.min.css">

    <!-- Plugin CSS Files -->
    <link rel="stylesheet" href="~/Theme_shop/assets/css/plugin/swiper.min.css">
    <link rel="stylesheet" href="~/Theme_shop/assets/css/plugin/material-scrolltop.css">
    <link rel="stylesheet" href="~/Theme_shop/assets/css/plugin/price_range_style.css">
    @*<link rel="stylesheet" href="~/Theme_shop/assets/css/plugin/in-number.css">*@
    <link rel="stylesheet" href="~/Theme_shop/assets/css/plugin/venobox.min.css">
    <link href="~/Theme_shop/assets/css/Style-Nam.css" rel="stylesheet" />
    <!-- Giỏ hàng-->
    @*<link rel="stylesheet" href="~/Theme_shop/Theme_Giohang/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme_shop/Theme_Giohang/font-awesome.min.css">
    <script src="~/Theme_shop/Theme_Giohang/bootstrap.bundle.min.js"></script>
    <link href="~/Theme_shop/Theme_Giohang/giohang.css" rel="stylesheet" />*@
<link href="~/Theme_shop/assets/css/Giohang.css" rel="stylesheet" />
    <title>Giỏ hàng của bạn</title>
</head>
<body>
    @RenderBody()
</body>
</html>